#banner {
    background-color: #5B493C;
    color: #FFF;
    height: 100px;
}



#second-row {
    background-color: #F99A3E;
}

#top-menu {
    background-color: #C39182;
}

#p1 {
    background-color: #C56A7A;
}

#p2 {
    background-color: #01A2B6;
}

#footer1 {
    background-color: #5B493C;
    color: #FFF;
}

#contenA {
    height: 200px;
}

#contenB {
    height: 200px;
}